.dialog-container {
  padding: 10px;

  h5 {
    color: white;
  }

  .dialog-content {
    margin-bottom: 20px;
  }

  .dialog-actions {
    display: flex; 
    gap: 8px; 
    align-items: flex-end;
    justify-content: flex-end;

    button {
      color: #fff;
      border: none;
      border-radius: 2px;
      background-color: #00ffff85;
      cursor: pointer;
      width: 80px;
      height: 30px; 
      padding: 10;
    }
  }
}